#main-contact {
    grid-template-areas: "nav-var" "contacto" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 15%, 40%, auto;
    #contacto {
        grid-area: contacto;
    }
    #formulario,
    #ubicacion {
        background-color: rgb(193, 243, 170);
    }
}

@media screen and (min-width: 320px) and (max-width:1000px) {
    #main-contact {
        grid-template-columns: 100%;
        grid-template-rows: 10% 70% auto;
        grid-template-areas: "header" "contacto" "footer";
        grid-row: 0px;
    }
}