#main-news {
    grid-template-areas: "nav-var" "news" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 15%, 40%, auto;
    background-color: $verdePastel;
    #news {
        grid-area: news;
        background-color: white;
        padding-top: 7%;
        padding-bottom: 7%;
        .card {
            background-color: rgb(247, 198, 169);
            padding: 3px;
        }
    }
}

@media screen and (min-width: 320px) and (max-width:1000px) {
    #main-news {
        grid-template-columns: 100%;
        grid-template-rows: 10% 70% auto;
        grid-template-areas: "header" "screen-news" "footer";
        grid-row: 0px;
    }
    .news {
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
    }
}