@import "variables";
@import "nav";
@import "footer";
@import "contact";
@import "company";
@import "actives";
@import "news";
// es importante que el import variable este primero por si es usado por el siguiente import
#main-index,
#main-company,
#main-contact,
#main-news,
#main-actives {
    display: grid;
}

#main-index {
    justify-items: stretch;
    grid-template-columns: 100%;
    grid-template-rows: 8%, 40%, 15%, 20%;
    grid-template-areas: "nav-bar" "carrusel" "clientes" "footer";
    background-color: $verdePastel;
    #carouselExampleCaptions {
        grid-area: carrusel;
        .carousel-item {
            div {
                background-color: rgba(0, 0, 0, 0.452);
                h3 {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 40px;
                    line-height: 3px;
                    color: rgba(245, 245, 245, 0.897);
                }
            }
        }
    }
    #clientes {
        grid-area: clientes;
        background-color: rgb(113, 219, 154);
        width: 80%;
    }
}

@media screen and (min-width: 320px) and (max-width:1000px) {
    #main-index {
        grid-template-columns: 100%;
        grid-template-rows: 10% auto 25% auto;
        grid-template-areas: "nav-bar" "carrusel" "clientes" "footer";
        grid-row: 0px;
    }
}